[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
torch = {file = "http://download.pytorch.org/whl/cpu/torch-0.4.1-cp36-cp36m-linux_x86_64.whl", os_name="== 'linux'"}
gym = "*"
ipython = "*"
matplotlib = "*"
jupyter = "*"
jupyterlab = "*"
pandas = "*"
numpy = "*"
scipy = "*"
sklearn = "*"
seaborn = "*"
torchvision = "*"
tabulate = "*"
pylint = "*"
gpy = "*"
emcee = "*"
gpyopt = "*"
tqdm = "*"
lightgbm = "*"

[dev-packages]

[requires]
python_version = "3.6"
